{% section 'header' %}
<section id="about" class="process-content section-padding pt-4 pb-4 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pt-0 pb-3 mb-3 text-header-com ">
                    DREAM HOME RIVERSIDE QUẬN 8 <br>
                    CAO ỐC VIEW SÔNG THƠ MỘNG YÊN BÌNH - NƠI CÂN BẰNG CUỘC SỐNG
                </h2>
                <p class="p-justify" style="width: 100%">
                    Dự án <strong> Dream Home Riverside</strong> tọa lạc trên 2 mặt tiền đường lớn của khu Nam là đại lộ Nguyễn Văn Linh và đường Phạm Thế Hiển, nằm trọn trong KDC Phú Linh hiện hữu ven sông với diện tích lên đến 51,5 ha. Đây được xem là dự án tiềm năng cho cả người có nhu cầu đầu tư và để ở, với mức giá sở hữu cực kỳ “dạt dẻ”, trao gửi mong muốn nắm giữ tài sản giá trị nơi Trung tâm thành phố.
                </p>
                <br>
                <p class="p-justify" style="width: 100%">
                    Dự án có quy mô hoành tráng với 3 tháp Emerald, Sapphire và Diamond Center, sở hữu sự chăm chút trong thiết kế theo chuẩn chất lượng cùng phong cách châu Âu sang trọng, hiện đại. Hứa hẹn nâng giá trị sống cư dân tương lai lên tầm cao mới.
                </p>
                <br>
            </div>
            <!--- END COL -->
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="overview" class="feature_area feature_area_check bg-linear-gradient pt-5 pb-5" style="background-image: url({{ theme_url() }}assets/images/bg-overview.png)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="feature_img">
                    <img src="{{ theme_url() }}assets/images/overview.png" class="img-fluid lazi" alt=""/>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <h2 style="margin-top: -30px"
                        class=" text-header-com text-radian-1 underline-gradient text-bold header-title pt-md-0 md-auto-center mb-2 inline-l-0">
                        TỔNG QUAN VỀ DỰ ÁN
                    </h2>
                    <ul class="m-0 ul-sssss text-white ul-green">
                        <li><span class="ti-check-box"></span>
                            Chủ đầu tư: Công ty TNHH Sản Xuất và Thương Mại Lý Khương
                        </li>
                        <li><span class="ti-check-box"></span>
                            Vị trí dự án: Mặt tiền đường Nguyễn Văn Linh – Phạm Thế Hiển, P.7, Q.8, TP. Hồ Chí Minh Quy mô dự án: 51,5 ha (3 tháp Emerald, Sapphire và Diamond Center)
                        </li>
                        <li><span class="ti-check-box"></span>
                            Số căn: khoảng 2096 căn
                        </li>
                        <li><span class="ti-check-box"></span>
                            Chi tiết sản phẩm: 55m2 – 99m2 (1 – 2 – 3 phòng ngủ)
                        </li>
                        <li><span class="ti-check-box"></span>
                            Pháp lý dự án: Đã có Giấy Phép Xây Dựng
                        </li>
                        <li><span class="ti-check-box"></span>
                            Bàn giao:
                            - Thang máy thẻ từ Kone – Schindler
                            - Cửa thép chống cháy – khóa từ
                            - Tủ bếp trên, tủ bếp dưới Melamine nhập khẩu cao cấp - Thiết bị vệ sinh American chất lượng cao
                            - Lắp sàn gỗ phòng ngủ cho tất cả các căn hộ
                            - Hệ thống Video Call đảm bảo an ninh cho khách hàng - Hệ thống dây chờ máy lạnh, cáp, ti vi,....
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>

<section id="position" class="feature_area feature_area_check pt-5 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="feature_img text-right mr-2">
                    <img style="width: 500px;" src="{{ theme_url() }}assets/images/position.png" class="img-fluid lazi" alt=""/>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <h2 style="margin-top: -30px;font-size: 1.4rem"
                        class=" text-header-com underline-gradient text-bold header-title pt-md-0 md-auto-center mb-2 inline-w-100">
                        VỊ TRÍ VEN SÔNG E LỆ VÀ THƠ MỘNG HIẾM HOI TRUNG TÂM TP.HCM
                    </h2>
                    <p class="p-justify" style="width: 100%">
                        Dự án <strong>Dream Home Riverside</strong> nằm tại hai mặt tiền đường Nguyễn Văn Linh và Phạm Thế Hiển, Quận 8, TP.HCM. Nếu như khu vực quận 7 từ lâu nay được nhiều người biết đến với quy hoạch đẹp và môi trường sống chất lượng, thì giờ đây tại khu vực mà Dream Home Riverside lựa chọn tọa lạc cũng sầm uất và hiện đại không kém với quần thể các dự án căn hộ cao cấp hiện hữu.
                    </p>
                    <br>
                    <p class="p-justify" style="width: 100%">
                        Song song đó, mạng lưới giao thông đồng bộ, quy hoạch bài bản, thuận tiện, linh hoạt và sẽ tiếp tục được hoàn thiện và mở rộng thêm trong tương lai, hứa hẹn tiềm năng phát triển to lớn cho khu vực cửa ngõ khu Nam.
                    </p>
                    <br>
                    <ul class="m-0 ul-sssss ul-blue">
                        <li><span class="ti-check-box"></span>
                           <strong> 3 phút:</strong> Chợ Bình Điền, THPT Nguyễn Văn Linh, THCS Phú Lợi, Tiểu học An Phong,...
                        </li>
                        <li><span class="ti-check-box"></span>
                            <strong> 5 phút:</strong> ĐH Văn Hiến, ĐH Kinh tế tài chính, Bến xe miền Tây,...
                        </li>
                        <li><span class="ti-check-box"></span>
                            <strong> 10 - 15 phút:</strong> TTTM Vivo City, Trung tâm tài chính Phú Mỹ Hưng, Bệnh viện Pháp Viện, Chợ Bến Thành,...
                        </li>
                    </ul>
                    <br>
                    <p class="p-justify" style="width: 100%">
                        <strong>Dream Home Riverside</strong> - dự án sở hữu vị trí chiến lược trong phát triển kinh tế không chỉ riêng Quận 8 mà còn tạo dấu ấn đến miền kinh tế của Quận 7. Bởi, nó dễ dàng kết nối với các khu vực lân cận thông qua đại lộ Nguyễn Văn Linh bằng các tuyến đường: Võ Văn Kiệt, Quốc lộ 50,... đi các tỉnh miền Tây, Quốc Lộ 1A, Đường Nguyễn Hữu Thọ, Cao tốc Bến Lức – Long Thành,...
                    </p>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>

<section id="in-area" class="feature_area feature_area_check bg-linear-gradient pt-5 pb-5" style="background-repeat: no-repeat; background-image: url({{ theme_url() }}assets/images/bg-in-area.png)">
    <div class="container mb-3">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-header-com text-radian-1 underline-gradient text-bold header-title pt-md-0 md-auto-center mb-2 inline-w-80 w-100">
                    CHUỖI TIỆN ÍCH NỘI KHU ĐẲNG CẤP
                </h2>
                <p class="p-justify text-white" style="width: 100%">
                    Với tâm huyết mang lại giá trị đích thực và đề cao lối sống tận hưởng cho tân cư dân sống tại Dream Home Riverside, CĐT Lý Khương đã đầu tư thiết kế tỉ mỹ từng tiện ích với mô hình compound, phục vụ đối đa nhu cầu của cư dân để thoả được giá trị sống chuẩn Hiện đại - Tiện lợi - An toàn.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <ul class="m-0 ul-sssss text-white ul-green">
                        <li><span class="ti-check-box"></span>
                            Khu thương mại Diamond Center Mall
                        </li>
                        <li><span class="ti-check-box"></span>
                            Hồ phun nước Bán Nguyệt Moonlight Fountain, Quảng trường nước Water Square, Sảnh đón lớn Emerald Riverview Hall
                        </li>
                        <li><span class="ti-check-box"></span>
                            Công viên nội khu Paradise Park, Công viên ven sông, Khu vui chơi trẻ em Rainbowland, Hồ bơi Trop- ics Pools, Vườn treo Emerald Hanging Garden
                        </li>
                        <li><span class="ti-check-box"></span>
                            Gym - Spa, Barbecue Club, Vườn thiền Zen Garden, Khu Sky Coffee
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div id="work-slider-6" class="owl-carousel owl-carousel-portfolio-1">
                    {% for i in 1..6 %}
                        {% set image = [theme_url(), 'assets/images/tien-ich-noi-khu-', i, '.jpg' ]|join %}
                        {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                    {% endfor %}
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
        <div class="row">
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
    </div><!-- END CONTAINER -->
</section>

<section id="connect_utilities" class="process-content no-padding white-bg pb-0">
    <div class="container pb-4">
        <div class="row">
            <div class="section-title mt-3 mb-3 ">
                <div class="single_feature pt-md-0  m-0">
                    <h1 class="text-green text-bold header-title pt-0 mt-0 auto-center text-header-com">
                        KẾT NỐI TIỆN ÍCH NGOẠI KHU HOÀN HẢO
                    </h1>
                    <p class="p-justify" style="width: 100%">
                        Dự án Dream Home Riverside không chỉ thừa hưởng hạ tầng hoàn thiện mà cư dân còn được CĐT Lý Khương hứa hẹn trao gửi phong cách sống tận hưởng những tiện nghi cuộc sống mang đến sự thuận tiện tối đa cho công việc, học hành, vui chơi và giải trí.
                    </p>
                    <br>
                    <ul class="m-0 ul-sssss ul-blue">
                        <li><span class="ti-check-box"></span>
                            Hệ thống giáo dục trải dài từ mầm non đến trung học phổ thông; bao gồm trường Tiểu học Nguyễn Văn Linh, Trường trung học An Phong, ĐH Tôn Đức Thắng, RMIT, ĐH Cảnh Sát Nhân Dân,...</li>
                        <li><span class="ti-check-box"></span>
                            Trung tâm thương mại/ mua sắm: TTTM VivoCity, Crescent Mall,...</li>
                        <li><span class="ti-check-box"></span>
                            Hệ thống Y tế: bệnh viện Pháp Việt,...</li>
                        <li><span class="ti-check-box"></span>
                            Thừa hưởng giá trị cộng đồng văn minh: KDC An Phú Tây, KDC Phong Phú, KDC Ngọc Đông Dương, KDC CONIC...</li>
                    </ul>
                    <br>
                </div>
                <div class="container mb-3">
                    <div class="row p-2 khungtrang">
                        <div class="col-md-4">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-1.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center">Đại học RMIT</p>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-2.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center">Bệnh viện Việt Pháp</p>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-3.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center">Đại học Tôn Đức Thắng</p>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-4.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center">TTTT SC VivoCity</p>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-5.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center">TTTM Crescent Mall</p>
                        </div>
                        <div class="col-md-4" style="margin-bottom: 15px">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-6.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center"> TTTM Lotte Mart</p>
                        </div>
                    </div>
                    <!--- END ROW -->
                </div>
            </div>
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <div class="container-fluid" style="padding: 0">
        <div class="feature_img mb-0">
            <img src="{{ theme_url() }}assets/images/4.png" style="width: 100%" class="img-fluid lazi" alt="">
        </div>
    </div>
    <!--- END CONTAINER -->
</section>

<section id="design" class="process-content section-padding pt-2 pb-2 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pb-3 mb-3 text-header-com ">
                    THIẾT KẾ KIẾN TẠO PHONG CÁCH SỐNG THỜI THƯỢNG
                </h2>
                <p class="p-justify" style="width: 100%">
                    Được trau chuốt bởi những bàn tay tài hoa của các đối tác chiến lược, không gian sống tại Dream Home Riverside chính là sự đồng điệu giữa phong cách kiến trúc hiện đại, pha lẫn nét tinh tế đỉnh cao cùng âm hưởng kiến trúc Châu Âu, mang đến phong cách sống thời thượng cho cộng đồng cư dân tinh hoa.
                </p>
                <p class="p-justify" style="width: 100%">
                    Ngoài ra, CĐT Lý Khương đặc biệt chú trọng sử dụng đồ nội thất cao cấp để có thể tạo nên không gian sang trọng cho cư dân. Bao gồm:
                </p>
                <br>
            </div>
            <!--- END COL -->
        </div>
        <div class="row">
            <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0 w-100">
                <ul class="m-0 ul-sssss ul-blue w-100">
                <li><span class="ti-check-box"></span>
                    Tủ bếp trên, tủ bếp dưới Melamine nhập khẩu cao cấp
                </li>
                <li><span class="ti-check-box"></span>
                    Hệ thống Video Call đảm bảo an ninh cho khách hàng
                </li>
                <li><span class="ti-check-box"></span>
                    Thiết bị vệ sinh American chất lượng cao
                </li>
                <li><span class="ti-check-box"></span>
                    Hệ thống dây chờ máy lạnh, cáp, ti vi,....
                </li>
                <li><span class="ti-check-box"></span>
                    Thang máy thẻ từ Kone – Schindler
                </li>
                <li><span class="ti-check-box"></span>
                    Cửa thép chống cháy – khóa từ
                </li>
                <li><span class="ti-check-box"></span>
                    Lắp sàn gỗ phòng ngủ cho tất cả các căn hộ
                </li>
            </ul>
            </div>
        </div>
        <div class="row text-center no-padding">
            <div class="owl-carousel carousel-single-slider">
                {% for i in 1..10 %}
                    {% set image = [theme_url(), 'assets/images/mat-bang-', i, '.jpg' ]|join %}
                    {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                {% endfor %}
            </div>
            <div class="section-title text-center mt-4 mb-4">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>

<section id="payment" class="feature_area feature_area_check bg-linear-gradient pt-5 pb-5" style="background-image: url({{ theme_url() }}assets/images/bg-payment.png)">
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="feature_img">
                    <img src="{{ theme_url() }}assets/images/payment.png" class="img-fluid lazi" alt=""/>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 pr-3 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <h2 style="margin-top: -30px"
                        class=" text-header-com text-radian-1 underline-gradient text-bold header-title pt-md-0 md-auto-center mb-2 inline-l-0">
                        PHƯƠNG THỨC THANH TOÁN <BR>
                        VÀ CHÍNH SÁCH BÁN HÀNG DỰ KIẾN
                    </h2>
                    <p class="p-justify text-white" style="width: 100%">
                        Với sự linh hoạt thông qua việc chia tiến độ thanh toán thành nhiều đợt, CĐT Lý Khương kỳ vọng đảm bảo được sự tiện lợi cho quý khách hàng có nhu cầu sở hữu Dream Home Riverside; có thể được giảm nhẹ về dòng tiền vì tiến độ thanh toán dàn trải theo thời gian.
                    </p>
                    <p class="text-white">Giá bán Căn hộ Dream Home Riverside: 38 Triệu/m2</p>
                    <ul class="m-0 ul-sssss text-white ul-green">
                        <li><span class="ti-check-box"></span>
                            Thanh toán 30% ký HĐMB (trong 6 tháng)</li>
                        <li><span class="ti-check-box"></span>
                            Thanh toán theo tiến độ 5.5% - 6.5% mỗi đợt 2 tháng (10 đợt) </li>
                        <li><span class="ti-check-box"></span>
                            Hỗ trợ vay vốn ngân hàng lên đến 70%</li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="m-0 w-100 line-gradient mb-4"></div>
            <div class="feature_img mb-0 auto-center text-center">
                <img src="{{ theme_url() }}assets/images/payment-2.png" style="width: 100%" class="img-fluid lazi" alt="">
            </div>
        </div>
    </div><!-- END CONTAINER -->
</section>

<section id="why" class="feature_area mt-4 mb-3">
    <div class="container">
        <div class="text-center">
            <div class="section-title text-center mb-1">
                <h1 class=" text-bold header-title pt-0 mt-0 auto-center inline-w-80 text-header-com ">
                    DREAMHOME - ĐƠN VỊ PHÂN PHỐI DỰ ÁN DREAM HOME RIVERSIDE
                </h1>
                <p class="p-justify mb-3 p-0 w-100">
                    Mang sứ mệnh góp phần thúc đẩy sự phát triển thị trường bất động sản Việt Nam, sau hơn 5 năm phát triển, Dream Home tự hào là sàn giao dịch BĐS uy tín và am hiểu thị trường; luôn đồng hành cùng khách hàng trên hành trình tìm chốn an cư mơ ước, kiến tạo nên cuộc sống thịnh vượng.
                </p>
                <p class="p-justify mb-3 p-0 w-100">
                    Với dự án <strong>Dream Home Riverside</strong>, CĐT cùng sàn giao dịch BĐS Dream Home cam kết sẽ trao gửi sản phẩm bất động sản với chất lượng cao đến quý khách hàng, cung cấp những trải nghiệm dịch vụ bất động sản toàn diện, an toàn và hiệu quả.
                </p>
            </div>
        </div><!-- END ROW -->
        <h1 class=" text-bold header-title pt-0 mt-4 inline-w-80 auto-center text-header-com">
            VÌ SAO BẠN NÊN CHỌN MUA DỰ ÁN DREAM HOME RIVERSIDE VỚI DREAMHOME
        </h1>
        <div class="row text-center tientich mt-5">
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title=" Hiện tại, Dream Home tiếp tục đồng hành cùng Keppel Land - một trong những tập đoàn đa quốc gia lớn nhất Singapore, với các ngành kinh doanh chính: dầu khí và hàng hải, cơ sở hạ tầng và bất động sản.">
                <img src="{{ theme_url() }}assets/images/reason_3.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Hiện tại, Dream Home tiếp tục đồng hành cùng C.S.Q - một trong những tập đoàn đa quốc gia lớn nhất
                    Singapore, với các ngành kinh doanh chính: dầu khí và hàng hải, cơ sở hạ tầng và bất động sản.
                </p>
            </div><!-- END COL -->
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title="Đơn vị đã phân phối thành công hàng loạt các dự án BĐS lớn: Dự án Precia, Dự án Opal Skyline, Dự án Lovera (1,2,3, Vista, Premier), Dự án Astral City (đang phân phối), Dự án Verosa Park (đang phân phối),...">
                <img src="{{ theme_url() }}assets/images/reason_2.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Đơn vị đã phân phối thành công hàng loạt các dự án BĐS lớn: Dự án Precia, Dự án Opal Skyline, Dự án
                    Lovera (1,2,3, Vista, Premier), Dự án Astral City (đang phân phối), Dự án Verosa Park (đang phân
                    phối), Dự án Celesta Rise...
                </p>
            </div><!-- END COL -->
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title=" Đơn vị hỗ trợ tư vấn, phân phối sản phẩm Bất động sản uy tín với chính sách thanh toán được nhận từ chính các CĐT, pháp lý rõ ràng minh bạch.">
                <img src="{{ theme_url() }}assets/images/reason_1.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Đơn vị hỗ trợ tư vấn, phân phối sản phẩm Bất động sản uy tín với chính sách thanh toán được nhận từ
                    chính các CĐT, pháp lý rõ ràng minh bạch.
                </p>
            </div><!-- END COL -->
            <!-- END COL -->
        </div>
    </div><!-- END CONTAINER -->
</section>
{% section 'footer' %}
