{% section 'header' %}
<section id="about" class="process-content section-padding pt-4 pb-4 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pt-0 pb-3 mb-3 text-header-com ">
                    ELITE LIFE CHUẨN CHO CUỘC SỐNG TỐI ƯU
                </h2>
                <p class="p-justify" style="width: 100%">
                    Sở hữu vị trí “vàng” cùng không gian sống chuẩn mực,<strong> Elite Life </strong> hiện đang là dự án tâm điểm của thị
                    trường bất động sản tại Long Hậu, Cần Giuộc (Long An) giàu tiềm năng phát triển.
                </p>
                <br>
                <p class="p-justify" style="width: 100%">
                    Nổi lên như một viên ngọc sáng giữa quỹ đất khu Nam Sài Gòn, <strong>Elite Life</strong> đặc biệt sở hữu những giá trị
                    đắt giá khi là dự án duy nhất trong khu vực Long Hậu tận hưởng vượng khí từ Rạch Đất Thánh, bao quanh một mặt dự án. Kết hợp với mảng xanh rộng lớn được quy hoạch xuyên suốt dự án, đem lại không gian cảnh quan trong lành và tươi mới đáp ứng những nhu cầu thiết yếu cho cư dân tương lai, song hành cùng chủ nhân vẽ tiếp giấc mơ sự nghiệp, mở ra tương lai hưng thịnh với những giá trị đầu tư sinh lời bền vững, vượt trội về vị trí, cơ sở hạ tầng và khả năng kết nối.
                </p>
                <br>
            </div>
            <!--- END COL -->
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="overview" class="feature_area feature_area_check pt-5 pb-5" style="background-image: url('{{ theme_url() }}assets/images/bg-overview.jpg')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="feature_img">
                    <img src="{{ theme_url() }}assets/images/overview.jpg" class="img-fluid lazi" alt=""/>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <h2 style="margin-top: -30px"
                        class=" text-header-com-1 underline-gradient text-bold header-title pt-md-0 md-auto-center
                        mb-2 inline-l-0 text-radian-1">
                        TỔNG QUAN VỀ DỰ ÁN
                    </h2>
                    <ul class="m-0 ul-sssss ul-gold text-white">
                        <li><span class="ti-check-box"></span>
                            Chủ đầu tư: Công ty Cổ phần Đầu tư Thương mại Dịch vụ Tân Thái Thịnh
                        </li>
                        <li><span class="ti-check-box"></span>
                            Vị trí dự án: Mặt tiền đường Ấp 3 Long Hậu, Xã Long Hậu, huyện Cần Giuộc, tỉnh Long An (Đã có quyết định mở rộng đường lên 40m với 6 làn xe).
                        </li>
                        <li><span class="ti-check-box"></span>
                            Diện tích dự án: <strong>53.843m2</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Quy mô: <strong>310 sản phẩm</strong> với tổng diện tích 27.585m2 (51,23% diện tích dự án) bao gồm:<br>
                            <strong>
                                - Nhà liên kế phố (Xây sẵn - 1 trệt, 2 lầu) <br>
                                - Nhà biệt thự (Xây sẵn)
                            </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Diện tích đa dạng: <strong>80-200m2</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Pháp lý dự án:<br>
                            <strong>
                                - Quyết định phê duyệt chi tiết 1/500 - Giấy phép xây dựng<br>
                                - Giấy chứng nhận PCCC
                            </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Ngân hàng hỗ trợ: <strong>Ngân hàng TMCP Hàng Hải Việt Nam - MSB</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Thời điểm triển khai: <strong>Quý 1/2021</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Thời gian bàn giao: <strong>Quý 4/2022</strong>
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
<section id="position" class="feature_area feature_area_check bg-white pt-md-5 pb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="feature_img text-right mr-2">
                    <img src="{{ theme_url() }}assets/images/position.jpg" class="img-fluid lazi"
                         alt=""/>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-4 pt-md-0 pt-xl-2  m-0 pr-3">
                    <h2 class="text-header-com underline-gradient text-bold header-title pt-md-0 md-auto-center text-center mb-2
                     inline-w-80 w-100">
                        VỊ TRÍ TRUNG TÂM - KẾT NỐI ĐA ĐIỂM
                    </h2>
                    <p class="p-justify" style="width: 100%">
                        Giá trị sản phẩm và sự thuận tiện kết nối giao thông chính là yếu tố hàng đầu của người mua bất động sản, dù đó là nhà đầu tư dài hạn, ngắn hạn hay cả đối với khách hàng ở thực. Đặc biệt đối với những doanh nhân, chuyên gia thành đạt, việc nơi sinh sống thuận tiện di chuyển đến trung tâm thành phố, sân bay chính là điểm cộng lớn.
                    </p>
                    <p class="p-justify mt-md-4" style="width: 100%">
                        Do đó, với Elite Life sở hữu tọa độ vàng ngay tại mặt tiền đường Ấp 3 Long Hậu (xã Long Hậu, Cần Giuộc), nằm trong khu vực mở rộng của Tp.HCM đã minh chứng cho giá trị và sự kết nối đa điểm mà Elite Life mang lại.
                    </p>
                    <br>
                    <ul class="m-0 ul-sssss ul-green">
                        <li><span class="ti-check-box"></span>
                            Phía Bắc: Giáp ĐT.826E (Đường Ấp 3 Long Hậu, đối diện là Khu dân cư Vĩnh Trường)
                        </li>
                        <li><span class="ti-check-box"></span>
                            Phía Nam: giáp KDC TMDV Thành Hiếu
                        </li>
                        <li><span class="ti-check-box"></span>
                            Phía Đông: giáp Rạch Đất Thánh ( Đối diện là KDC,TĐC Thái Sơn)
                        </li>
                        <li><span class="ti-check-box"></span>
                            Phía Tây: giáp KDC TMDV Thành Hiếu
                        </li>
                    </ul>
                    <ul class="m-0 ul-sssss ul-green mt-4">
                        <li><span class="ti-check-box"></span>
                            5 phút: di chuyển đến Khu Công Nghiệp Long Hậu, đến ga Metro số 4
                        </li>
                        <li><span class="ti-check-box"></span>
                            10 phút: di chuyển đến Khu Đô Thị Cảng Hiệp Phước
                        </li>
                        <li><span class="ti-check-box"></span>
                            20 phút: di chuyển đến Khu Đô Thị Phú Mỹ Hưng
                        </li>
                        <li><span class="ti-check-box"></span>
                            30 phút: kết nối đến trung tâm Q.1
                        </li>
                        <li><span class="ti-check-box"></span>
                            45 phút: Kết nối sân bay Quốc Tế Long Thành
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
<section id="in-area" class="feature_area feature_area_check pt-md-5 pb-5" style="background-image: url({{ theme_url() }}assets/images/bg-in-area.jpg)">
    <div class="container mb-3">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-header-com-1 underline-gradient text-bold header-title pt-md-0 md-auto-center mb-2
                inline-w-80 w-100 text-radian-1">
                    CHUỖI TIỆN ÍCH NỘI KHU ĐẲNG CẤP
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" offset-1 col-lg-10 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <p class="p-justify text-white" style="width: 100%">
                        Với tâm huyết mang lại giá trị đích thực và đề cao lối sống tận hưởng không gian xanh, trong lành cho tân cư dân sống tại Elite Life, CĐT Tân Thái Thịnh đã đầu tư thiết kế tỉ mỹ từng tiện ích với mô hình compound, phục vụ đối đa nhu cầu của cư dân để thoả được giá trị sống chuẩn Hiện đại - Tiện lợi - An toàn.
                    </p>
                    <p class="p-justify text-white mt-4" style="width: 100%">
                        Sở hữu Kênh Nội Khu duy nhất trong khu vực: tận hưởng trọn vẹn vượng khí Rạch Đất Thánh.
                    </p>
                    <ul class="m-0 ul-sssss ul-gold text-white">
                        <li><span class="ti-check-box"></span>
                            Công viên cây xanh với diện tích 5.968m2 bao gồm:
                        </li>
                        <li><span class="ti-check-box"></span>
                            Bao gồm hệ thống mảng xanh, hệ thống các tiện ích cộng đồng
                        </li>
                        <li><span class="ti-check-box"></span>
                            Đảm bảo cảnh quan thoáng đãng, trong lành và tươi mới
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-12 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0
            .3s"
                 data-wow-offset="0">
                <div data-icon-prev="prev-1.png" data-icon-next="next-1.png" class="owl-carousel
                owl-carousel-portfolio">
                    {% for i in 1..6 %}
                        {% set image = [theme_url(), 'assets/images/tien-ich-noi-khu-', i, '.png' ]|join %}
                        {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                    {% endfor %}
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
        <div class="row">
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
    </div><!-- END CONTAINER -->
</section>
<section id="out-area" class="feature_area feature_area_check bg-white pt-md-5 pb-5">
    <div class="container mb-3">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-header-com underline-gradient text-bold header-title pt-md-0 md-auto-center mb-2 inline-w-80 w-100">
                    KẾT NỐI TIỆN ÍCH NGOẠI KHU
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" offset-1 col-lg-10 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <ul class="m-0 ul-sssss ul-green">
                        <li><span class="ti-check-box"></span>
                            Hệ thống Giáo Dục: Trường Quốc tế Mỹ Việt Nam; Trường Quốc Tế Anh Việt (BVIS); RMIT; Trường tiểu học Long Hậu; Trường THCS Long Hậu; ....
                        </li>
                        <li><span class="ti-check-box"></span>
                            Các cơ quan hành chính: UBND xã Long Hậu; UBND huyện Nhà Bè; Công An huyện Nhà Bè
                        </li>
                        <li><span class="ti-check-box"></span>
                            Hệ thống Y Tế: Bệnh viện FV; Bệnh viện Nhà Bè; Bệnh viện Đa Khoa Nam Sài Gòn;...
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
        <div class="row p-2 khungtrang mt-4">
            <div class="col-md-4">
                <img src="{{theme_url()}}/assets/images/tien-ich-ngoai-khu-1.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">Đại học RMIT</p>
            </div>
            <div class="col-md-4">
                <img src="{{theme_url()}}/assets/images/tien-ich-ngoai-khu-2.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">Bệnh viện Việt Pháp</p>
            </div>
            <div class="col-md-4">
                <img src="{{theme_url()}}/assets/images/tien-ich-ngoai-khu-3.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">UBND Huyện Nhà Bè</p>
            </div>
            <div class="col-md-4">
                <img src="{{theme_url()}}/assets/images/tien-ich-ngoai-khu-4.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">TTTT SC VivoCity</p>
            </div>
            <div class="col-md-4">
                <img src="{{theme_url()}}/assets/images/tien-ich-ngoai-khu-5.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">Trường Quốc Tế Anh Việt (BVIS)</p>
            </div>
            <div class="col-md-4">
                <img src="{{theme_url()}}/assets/images/tien-ich-ngoai-khu-6.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">Trường THCS Long Hậu</p>
            </div>
        </div>
        <!--- END ROW -->
    </div><!-- END CONTAINER -->

</section>
<section id="design" class="process-content section-padding pt-2 pb-2 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pb-3 mb-3 text-header-com ">
                    THIẾT KẾ KIẾN TẠO PHONG CÁCH SỐNG THỜI THƯỢNG
                </h2>
                <p class="p-justify">
                    Với thiết kế của Elite Life, Chủ đầu tư tập trung vào việc tạo ra nhiều không gian nghỉ ngơi, tăng khả năng thông gió, lấy sáng tự nhiên, cải thiện chất lượng không gian sống trong nhà, phù hợp với phân khúc khách hàng năng động. Các tiêu chí thiết kế như:
                </p>
                <br>
            </div>
            <!--- END COL -->
        </div>
        <div class="row">
            <div class="single_feature pl-md-4 pt-md-0 pt-xl-2 w-80 auto-center">
                <ul class="m-0 ul-sssss ul-green w-100">
                    <li><span class="ti-check-box"></span>
                        Kết hợp yếu tố hiện đại và truyền thống
                    </li>
                    <li><span class="ti-check-box"></span>
                        Nhiều cây xanh, tiện ích cho khu nhà ở
                    </li>
                    <li><span class="ti-check-box"></span>
                        Tôn trọng giá trị tự nhiêns
                    </li>
                    <li><span class="ti-check-box"></span>
                        Đồng bộ hạ tầng và kiến trúc
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-center no-padding">
            <div class="owl-carousel carousel-single-slider">
                {% for i in 1..6 %}
                    {% set image = [theme_url(), 'assets/images/mat-bang-', i, '.png' ]|join %}
                    {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                {% endfor %}
            </div>
            <div class="section-title text-center mt-4 mb-4">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="payment" class="feature_area feature_area_check pt-md-5 pb-5" style="background-repeat:no-repeat;background-image: url({{ theme_url() }}assets/images/bg-in-area.jpg)">
    <div class="container mb-3">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-header-com-1 underline-gradient text-bold header-title pt-md-0 md-auto-center mb-2
                inline-w-80 w-100 text-radian-1">
                     PHƯƠNG THỨC THANH TOÁN - CHÍNH SÁCH BÁN HÀNG - GIẤY TỜ PHÁP LÝ
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0
            .3s"
                 data-wow-offset="0">
                <div data-icon-prev="prev-1.png" data-icon-next="next-1.png" class="owl-carousel
                owl-carousel-portfolio">
                    {% for i in 1..6 %}
                        {% set image = [theme_url(), 'assets/images/payment-', i, '.jpg' ]|join %}
                        {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                    {% endfor %}
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>

<section id="why" class="feature_area mt-4 mb-3">
    <div class="container">
        <div class="text-center">
            <div class="section-title text-center mb-1">
                <h1 class=" text-bold header-title pt-0 mt-0 auto-center inline-w-80 text-header-com-1 ">
                    DREAMHOME - ĐƠN VỊ PHÂN PHỐI DỰ ÁN NHÀ PHỐ ELITE LIFE
                </h1>
                <p class="p-justify mb-3 p-0 w-100">
                    Mang sứ mệnh góp phần thúc đẩy sự phát triển thị trường bất động sản Việt Nam, sau hơn 5 năm phát triển, Dream Home tự hào là sàn giao dịch BĐS uy tín và am hiểu thị trường; luôn đồng hành cùng khách hàng trên hành trình tìm chốn an cư mơ ước, kiến tạo nên cuộc sống thịnh vượng.
                </p>
                <p class="p-justify mb-3 p-0 w-100">
                    Với dự án Elite Life, CĐT cùng sàn giao dịch BĐS Dream Home cam kết sẽ trao gửi sản phẩm bất động sản với chất lượng cao đến quý khách hàng, cung cấp những trải nghiệm dịch vụ bất động sản toàn diện, an toàn và hiệu quả.
                </p>
            </div>
        </div><!-- END ROW -->
        <h1 class=" text-bold header-title pt-0 mt-4 inline-w-80 auto-center text-header-com-1">
            VÌ SAO BẠN NÊN CHỌN MUA DỰ ÁN NHÀ PHỐ ELITE LIFE VỚI DREAMHOME
        </h1>
        <div class="row text-center tientich mt-5">
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title=" Hiện tại, Dream Home tiếp tục đồng hành cùng Keppel Land - một trong những tập đoàn đa quốc gia lớn nhất Singapore, với các ngành kinh doanh chính: dầu khí và hàng hải, cơ sở hạ tầng và bất động sản.">
                <img src="{{ theme_url() }}assets/images/reason_3.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Hiện tại, Dream Home tiếp tục đồng hành cùng C.S.Q - một trong những tập đoàn đa quốc gia lớn nhất
                    Singapore, với các ngành kinh doanh chính: dầu khí và hàng hải, cơ sở hạ tầng và bất động sản.
                </p>
            </div><!-- END COL -->
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title="Đơn vị đã phân phối thành công hàng loạt các dự án BĐS lớn: Dự án Precia, Dự án Opal Skyline, Dự án Lovera (1,2,3, Vista, Premier), Dự án Astral City (đang phân phối), Dự án Verosa Park (đang phân phối),...">
                <img src="{{ theme_url() }}assets/images/reason_2.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Đơn vị đã phân phối thành công hàng loạt các dự án BĐS lớn: Dự án Precia, Dự án Opal Skyline, Dự án
                    Lovera (1,2,3, Vista, Premier), Dự án Astral City (đang phân phối), Dự án Verosa Park (đang phân
                    phối), Dự án Celesta Rise...
                </p>
            </div><!-- END COL -->
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title=" Đơn vị hỗ trợ tư vấn, phân phối sản phẩm Bất động sản uy tín với chính sách thanh toán được nhận từ chính các CĐT, pháp lý rõ ràng minh bạch.">
                <img src="{{ theme_url() }}assets/images/reason_1.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Đơn vị hỗ trợ tư vấn, phân phối sản phẩm Bất động sản uy tín với chính sách thanh toán được nhận từ
                    chính các CĐT, pháp lý rõ ràng minh bạch.
                </p>
            </div><!-- END COL -->
            <!-- END COL -->
        </div>
    </div><!-- END CONTAINER -->
</section>
{% section 'footer' %}
