{% section 'header' %}
<section id="about" class="process-content section-padding pt-4 pb-4 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pt-0 pb-3 mb-3 text-header-com ">
                    ELITE LIFE CHUẨN CHO CUỘC SỐNG TỐI ƯU
                </h2>
                <p class="p-justify" style="width: 100%">
                    <strong>D-Aqua</strong> - Dự án căn hộ cao cấp bậc nhất sở hữu view sông hiếm hoi nằm ngay tại Trung
                    tâm quận 8. Tọa lạc trên khu đất 8.025m2 với 2 tháp căn hộ cao 25 tầng nổi & 2 tầng hầm. Dự án cung
                    ứng ra thị trường căn hộ quận 8 khoảng 652 căn hộ chung cư & 35 căn shophouse.
                </p>
                <br>
                <p class="p-justify" style="width: 100%">
                    Dự án “tích tụ” thiên hoà địa lợi dựa vào địa thế ven sông, ôm trọn dòng suối mượt mà chảy giữa
                    tuyến phố thương mại và đi bộ, mang “vượng thuỷ” về bồi đắp sự đủ đầy và “màu mỡ” cho cuộc sống của
                    cư dân tại dự án và tạo nên một khung cảnh thiên nhiên xanh mát, tuyệt vời.
                </p>
                <br>

                <p class="p-justify" style="width: 100%">
                    Trong bối cảnh quỹ đất thành phố ngày càng hạn hẹp, <strong>D-Aqua</strong> nghiễm nhiên trở thành
                    "miếng bánh ngon" đón nhận được nhiều sự quan tâm nhất hiện nay.
                </p>
            </div>
            <!--- END COL -->
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="overview" class="feature_area feature_area_check pt-5 pb-5" style="background-image: url('{{ theme_url() }}assets/images/bg-overview.jpg')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="feature_img">
                    <img src="{{ theme_url() }}assets/images/overview.jpg" class="img-fluid lazi" alt=""/>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <h2 style="margin-top: -30px"
                        class=" text-header-com-1 underline-gradient text-bold header-title pt-md-0 md-auto-center
                        mb-2 inline-l-0 text-radian-1">
                        TỔNG QUAN VỀ DỰ ÁN
                    </h2>
                    <ul class="m-0 ul-sssss ul-gold text-white">
                        <li><span class="ti-check-box"></span>
                            Chủ đầu tư: Công ty Cổ phần Đầu tư Kinh Doanh Bất Động Sản Minh An Vị trí dự án: 158 An Dương Vương, An Lạc, Bình Tân, Hồ Chí Minh
                        </li>
                        <li><span class="ti-check-box"></span>
                            Diện tích dự án: <strong>1,83 hecta</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Quy mô: Gần <strong>2000 căn hộ</strong> loại căn hộ từ 1PN – 3PN
                        </li>
                        <li><span class="ti-check-box"></span>
                            Diện tích căn hộ dự kiến: <strong>48m2 - 78m2</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Pháp lý dự án: Đang hoàn thiện (đã có Bản quy hoạch 1/500) Thời điểm triển khai: Dự kiến Quý 1/2021
                        </li>
                        <li><span class="ti-check-box"></span>
                            Thời gian bàn giao: Dự kiến năm 2023
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
<section id="position" class="feature_area feature_area_check bg-white pt-md-5 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="feature_img text-right mr-2">
                    <img src="{{ theme_url() }}assets/images/position.jpg" class="img-fluid lazi"
                         alt=""/>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-4 pt-md-0 pt-xl-2  m-0 pr-3">
                    <h2 class="text-header-com underline-gradient text-bold header-title pt-md-0 md-auto-center text-center mb-2
                     inline-w-80 w-100">
                        VỊ TRÍ TRUNG TÂM - KẾT NỐI ĐA ĐIỂM
                    </h2>
                    <p class="p-justify" style="width: 100%">
                        Tọa lạc 158 An Dương Vương, phường An Lạc, Bình Tân - nằm giáp ranh với Quận 6 và Quận 8 Nằm giữa 2 trục đường chính: An Dương Vương và Võ Văn Kiệt (tuyến đường xương sống, kết nối các quận, các đô thị vệ tinh của thành phố Hồ Chí Minh).
                    </p>
                    <br>
                    <ul class="m-0 ul-sssss ul-green">
                        <li><span class="ti-check-box"></span>
                            Dễ dàng di chuyển về trung tâm thành phố qua tuyến đường An Dương Vương – Võ Văn Kiệt (Đại lộ Đông Tây)
                        </li>
                        <li><span class="ti-check-box"></span>
                            Dễ dàng di chuyển về các khu thương mại, chợ đầu mối lớn tại Quận 5 và Quận 6, KCN Tân Tạo và KDC Tên Lửa.
                        </li>
                        <li><span class="ti-check-box"></span>
                            Nằm ở trục phía Tây thành phố
                        </li>
                        <li><span class="ti-check-box"></span>
                            Dễ dàng di chuyển ra Cao tốc Sài Gòn – Trung Lương để về các tỉnh Đồng bằng Sông Cửu Long.
                        </li>
                        <li><span class="ti-check-box"></span>
                            <strong>Trong 10 phút:</strong> di chuyển đến BV Triều An, Bến xe Miền Tây, Chợ Lớn,...
                        </li>
                        <li><span class="ti-check-box"></span>
                            <strong>Trong 15 phút:</strong> di chuyển đến Big C An Lạc, UBND Bình Tân, Chi cục thuế Bình Tân, Chợ Vạn Nguyên, CV
                            Phú Lâm...
                        </li>
                        <li><span class="ti-check-box"></span>
                            <strong>Trong 20 phút:</strong> di chuyển đến Cao tốc Sài Gòn – Trung Lương, Chợ An Đông,...
                        </li>
                        <li><span class="ti-check-box"></span>
                            <strong>Trong 30 phút:</strong> di chuyển đến Chợ Bến Thành quận 1.
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
<section id="in-area" class="feature_area feature_area_check pt-md-5 pb-5" style="background-repeat:no-repeat; background-image: url({{ theme_url() }}assets/images/bg-in-area.jpg)">
    <div class="container mb-3">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-header-com-1 underline-gradient text-bold header-title pt-md-0 md-auto-center mb-2
                inline-w-80 w-100 text-radian-1">
                    CHUỖI TIỆN ÍCH NỘI KHU ĐẲNG CẤP
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" offset-1 col-lg-10 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <p class="p-justify text-white" style="width: 100%">
                        Với tâm huyết mang lại giá trị đích thực và đề cao lối sống tận hưởng không gian xanh, trong lành cho tân cư dân sống tại Elite Life, CĐT Tân Thái Thịnh đã đầu tư thiết kế tỉ mỹ từng tiện ích với mô hình compound, phục vụ đối đa nhu cầu của cư dân để thoả được giá trị sống chuẩn Hiện đại - Tiện lợi - An toàn.
                    </p>
                    <p class="p-justify text-white" style="width: 100%">
                        Sở hữu Kênh Nội Khu duy nhất trong khu vực: tận hưởng trọn vẹn vượng khí Rạch Đất Thánh.
                    </p>
                    <ul class="m-0 ul-sssss ul-green text-white">
                        <li><span class="ti-check-box"></span>
                            Siêu thị mini, Phòng y tế cộng đồng, Nhà trẻ nội khu,...
                        </li>
                        <li><span class="ti-check-box"></span>
                            Công viên cây xanh, Công viên trẻ em, Lối đi bộ thông tầng...
                        </li>
                        <li><span class="ti-check-box"></span>
                            Cụm hồ bơi cộng đồng tích hợp bờ tắm nắng, Hồ bơi trẻ em, Phòng Gym & Yoga view hồ bơi hiện đại, Phòng thiền, Khuôn viên sinh hoạt cộng đồng, khu vực BBQ gia đình,...
                        </li>
                        <li><span class="ti-check-box"></span>
                            Quán Coffee sân vườn, Nhà hàng/ quán ăn quy mô vừa,...
                        </li>
                        <li><span class="ti-check-box"></span>
                            Hầm xe thông tầng, Hệ thống An ninh, PCCC và CSKH 24/7
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-12 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0
            .3s"
                 data-wow-offset="0">
                <div data-icon-prev="prev-1.png" data-icon-next="next-1.png" class="owl-carousel
                owl-carousel-portfolio">
                    {% for i in 1..6 %}
                        {% set image = [theme_url(), 'assets/images/tien-ich-noi-khu-', i, '.png' ]|join %}
                        {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                    {% endfor %}
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
        <div class="row">
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
    </div><!-- END CONTAINER -->
</section>
<section id="out-area" class="feature_area feature_area_check bg-white pt-md-5 pb-5">
    <div class="container mb-3">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-header-com underline-gradient text-bold header-title pt-md-0 md-auto-center mb-2 inline-w-80 w-100">
                    KẾT NỐI TIỆN ÍCH NGOẠI KHU
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" offset-1 col-lg-10 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <ul class="m-0 ul-sssss ul-green">
                        <li><span class="ti-check-box"></span>
                            Thương mại & Dịch vụ: chợ Bình Tây, chợ An Đông, chợ Vải, chợ Sắt, chợ Kim Liên, Aeon Mall Bình Tân, Big C An Lạc, Hùng Vương Plaza,..
                        </li>
                        <li><span class="ti-check-box"></span>
                            Các cơ quan hành chính: Chi cục thuế quận Bình Tân, UBND quận Bình Tân, UBND phường An Lạc...
                        </li>
                        <li><span class="ti-check-box"></span>
                            Hệ thống giáo dục quốc gia: ĐH Y Dược, ĐH Kinh Tế, ĐH Sư phạm, ĐH Bách khoa,...
                        </li>
                        <li><span class="ti-check-box"></span>
                            Hệ thống Bệnh viện đầu ngành: BV Đại Học Y Dược, BV Hùng Vương, BV Phạm Ngọc Thạch, BV Nhiệt Đới, BV Nhi Đồng....
                        </li>
                        <li><span class="ti-check-box"></span>
                            Vui chơi giải trí: Công viên nước Hồ Sen, công viên văn hóa Đầm Sen, công viên Phú Lâm
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
        <div class="row p-2 khungtrang">
            <div class="col-md-4">
                <img src="http://127.0.0.1:8888/wp-content/themes/khudothi-elitelife.com/assets/images/tien-ich-ngoai-khu-1.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">Đại học RMIT</p>
            </div>
            <div class="col-md-4">
                <img src="http://127.0.0.1:8888/wp-content/themes/khudothi-elitelife.com/assets/images/tien-ich-ngoai-khu-2.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">Bệnh viện Việt Pháp</p>
            </div>
            <div class="col-md-4">
                <img src="http://127.0.0.1:8888/wp-content/themes/khudothi-elitelife.com/assets/images/tien-ich-ngoai-khu-3.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">UBND Huyện Nhà Bè</p>
            </div>
            <div class="col-md-4">
                <img src="http://127.0.0.1:8888/wp-content/themes/khudothi-elitelife.com/assets/images/tien-ich-ngoai-khu-4.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">TTTT SC VivoCity</p>
            </div>
            <div class="col-md-4">
                <img src="http://127.0.0.1:8888/wp-content/themes/khudothi-elitelife.com/assets/images/tien-ich-ngoai-khu-5.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">Trường Quốc Tế Anh Việt (BVIS)</p>
            </div>
            <div class="col-md-4">
                <img src="http://127.0.0.1:8888/wp-content/themes/khudothi-elitelife.com/assets/images/tien-ich-ngoai-khu-6.jpg" class="img-fluid lazi" alt=""/>
                <p class="text-center">Trường THCS Long Hậu</p>
            </div>
        </div>
        <!--- END ROW -->
    </div><!-- END CONTAINER -->

</section>
<section id="design" class="process-content section-padding pt-2 pb-2 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pb-3 mb-3 text-header-com ">
                    THIẾT KẾ KIẾN TẠO PHONG CÁCH SỐNG THỜI THƯỢNG
                </h2>
                <p class="p-justify" style="width: 100%">
                    Được trau chuốt bởi những bàn tay tài hoa của các đối tác chiến lược, không gian sống tại Dream Home Riverside chính là sự đồng điệu giữa phong cách kiến trúc hiện đại, pha lẫn nét tinh tế đỉnh cao cùng âm hưởng kiến trúc Châu Âu, mang đến phong cách sống thời thượng cho cộng đồng cư dân tinh hoa.
                </p>
                <p class="p-justify" style="width: 100%">
                    Ngoài ra, CĐT Lý Khương đặc biệt chú trọng sử dụng đồ nội thất cao cấp để có thể tạo nên không gian sang trọng cho cư dân. Bao gồm:
                </p>
                <br>
            </div>
            <!--- END COL -->
        </div>
        <div class="row">
            <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0 w-100">
                <ul class="m-0 ul-sssss ul-blue w-100">
                    <li><span class="ti-check-box"></span>
                        Tủ bếp trên, tủ bếp dưới Melamine nhập khẩu cao cấp
                    </li>
                    <li><span class="ti-check-box"></span>
                        Hệ thống Video Call đảm bảo an ninh cho khách hàng
                    </li>
                    <li><span class="ti-check-box"></span>
                        Thiết bị vệ sinh American chất lượng cao
                    </li>
                    <li><span class="ti-check-box"></span>
                        Hệ thống dây chờ máy lạnh, cáp, ti vi,....
                    </li>
                    <li><span class="ti-check-box"></span>
                        Thang máy thẻ từ Kone – Schindler
                    </li>
                    <li><span class="ti-check-box"></span>
                        Cửa thép chống cháy – khóa từ
                    </li>
                    <li><span class="ti-check-box"></span>
                        Lắp sàn gỗ phòng ngủ cho tất cả các căn hộ
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-center no-padding">
            <div class="owl-carousel carousel-single-slider">
                {% for i in 1..6 %}
                    {% set image = [theme_url(), 'assets/images/mat-bang-', i, '.png' ]|join %}
                    {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                {% endfor %}
            </div>
            <div class="section-title text-center mt-4 mb-4">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="payment" class="feature_area feature_area_check pt-md-5 pb-5" style="background-repeat:no-repeat;background-image: url({{ theme_url() }}assets/images/bg-in-area.jpg)">
    <div class="container mb-3">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-header-com-1 underline-gradient text-bold header-title pt-md-0 md-auto-center mb-2
                inline-w-80 w-100 text-radian-1">
                     PHƯƠNG THỨC THANH TOÁN - CHÍNH SÁCH BÁN HÀNG - GIẤY TỜ PHÁP LÝ
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0
            .3s"
                 data-wow-offset="0">
                <div data-icon-prev="prev-1.png" data-icon-next="next-1.png" class="owl-carousel
                owl-carousel-portfolio">
                    {% for i in 1..6 %}
                        {% set image = [theme_url(), 'assets/images/payment-', i, '.jpg' ]|join %}
                        {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                    {% endfor %}
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>

<section id="why" class="feature_area mt-4 mb-3">
    <div class="container">
        <div class="text-center">
            <div class="section-title text-center mb-1">
                <h1 class=" text-bold header-title pt-0 mt-0 auto-center inline-w-80 text-header-com-1 ">
                    DREAMHOME - ĐƠN VỊ PHÂN PHỐI DỰ ÁN NHÀ PHỐ ELITE LIFE
                </h1>
                <p class="p-justify mb-3 p-0 w-100">
                    Mang sứ mệnh góp phần thúc đẩy sự phát triển thị trường bất động sản Việt Nam, sau hơn 5 năm phát triển, Dream Home tự hào là sàn giao dịch BĐS uy tín và am hiểu thị trường; luôn đồng hành cùng khách hàng trên hành trình tìm chốn an cư mơ ước, kiến tạo nên cuộc sống thịnh vượng.
                </p>
                <p class="p-justify mb-3 p-0 w-100">
                    Với dự án Elite Life, CĐT cùng sàn giao dịch BĐS Dream Home cam kết sẽ trao gửi sản phẩm bất động sản với chất lượng cao đến quý khách hàng, cung cấp những trải nghiệm dịch vụ bất động sản toàn diện, an toàn và hiệu quả.
                </p>
            </div>
        </div><!-- END ROW -->
        <h1 class=" text-bold header-title pt-0 mt-4 inline-w-80 auto-center text-header-com-1">
            VÌ SAO BẠN NÊN CHỌN MUA DỰ ÁN NHÀ PHỐ ELITE LIFE VỚI DREAMHOME
        </h1>
        <div class="row text-center tientich mt-5">
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title=" Hiện tại, Dream Home tiếp tục đồng hành cùng Keppel Land - một trong những tập đoàn đa quốc gia lớn nhất Singapore, với các ngành kinh doanh chính: dầu khí và hàng hải, cơ sở hạ tầng và bất động sản.">
                <img src="{{ theme_url() }}assets/images/reason_3.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Hiện tại, Dream Home tiếp tục đồng hành cùng C.S.Q - một trong những tập đoàn đa quốc gia lớn nhất
                    Singapore, với các ngành kinh doanh chính: dầu khí và hàng hải, cơ sở hạ tầng và bất động sản.
                </p>
            </div><!-- END COL -->
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title="Đơn vị đã phân phối thành công hàng loạt các dự án BĐS lớn: Dự án Precia, Dự án Opal Skyline, Dự án Lovera (1,2,3, Vista, Premier), Dự án Astral City (đang phân phối), Dự án Verosa Park (đang phân phối),...">
                <img src="{{ theme_url() }}assets/images/reason_2.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Đơn vị đã phân phối thành công hàng loạt các dự án BĐS lớn: Dự án Precia, Dự án Opal Skyline, Dự án
                    Lovera (1,2,3, Vista, Premier), Dự án Astral City (đang phân phối), Dự án Verosa Park (đang phân
                    phối), Dự án Celesta Rise...
                </p>
            </div><!-- END COL -->
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title=" Đơn vị hỗ trợ tư vấn, phân phối sản phẩm Bất động sản uy tín với chính sách thanh toán được nhận từ chính các CĐT, pháp lý rõ ràng minh bạch.">
                <img src="{{ theme_url() }}assets/images/reason_1.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Đơn vị hỗ trợ tư vấn, phân phối sản phẩm Bất động sản uy tín với chính sách thanh toán được nhận từ
                    chính các CĐT, pháp lý rõ ràng minh bạch.
                </p>
            </div><!-- END COL -->
            <!-- END COL -->
        </div>
    </div><!-- END CONTAINER -->
</section>
{% section 'footer' %}
