{% section 'header' %}
<section id="about" class="process-content section-padding pt-4 pb-5 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pb-3 mb-3 text-header-com ">
                    KHU ĐÔ THỊ SINH THÁI AQUA CITY
                </h2>
                <p class="p-justify" style="width: 100%">
                    <strong>Aqua City</strong> là khu đô thị sinh thái thông minh ven sông Đồng Nai của tập đoàn
                    Novaland đầu tư. Aqua City cũng là khu đô thị sinh thái đầu tiên trong chiến lược phát triển các khu
                    đô thị vệ tinh của tập đoàn Novaland.
                </p>
                <br>
                <p class="p-justify" style="width: 100%">
                    Dự án <strong>Aqua City Novaland</strong> nằm tại đường Hương Lộ 2, quy mô hơn 1000 ha và được bao
                    quanh bởi 32km bờ sông Đồng Nai thoáng mát nên thu hút nhiều khách hàng quan tâm chọn mua và đang
                    được xem là khu đô thị vệ tinh kiểu mẫu, với muôn vàn tiện ích dành cho cư dân.
                </p>
                <br>

                <p class="p-justify" style="width: 100%">
                    Đảo tự nhiên nguyên sinh <strong>Aqua City</strong> mang hình dáng chim Phượng Hoàng cùng hệ thống
                    kênh rạch nội khu đan xen màu mỡ, bao quanh bởi dòng sông Phước Long Quang tạo thành thế đất Long -
                    Phụng sum vầy vô cùng đặc biệt mang vượng khí, tài lộc cho gia chủ đồng thời cũng là biểu trưng cho
                    điềm lành và cao quý.
                </p>
            </div>
            <!--- END COL -->
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="overview" class="feature_area feature_area_check bg-linear-gradient pt-5 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="feature_img">
                    <img src="{{ theme_url() }}assets/images/2.png" class="img-fluid lazi" alt=""/>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <h2 style="margin-top: -30px"
                        class=" text-header-com inline-l-0 text-bold header-title pt-md-0 md-auto-center mb-2 inline-l-0">
                        TỔNG QUAN VỀ DỰ ÁN
                    </h2>
                    <ul class="m-0 ul-sssss text-white ul-green">
                        <li><span class="ti-check-box"></span>
                            Tên dự án:<strong> AQUA CITY </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Vị trí:<strong> Đường Hương Lộ 2, Biên Hòa, Đồng Nai </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Chủ đầu tư:<strong> Novaland </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Thiết kế kiến trúc:<strong> Kume Design Asia (Nhật Bản) </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Thiết kế cảnh quan:<strong> Aspect Studios (Australia) </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Tư vấn thiết kế mẫu nhà:<strong> Zone architect (Malaysia), Hyan architect (Việt
                                Nam) </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Tư vấn thiết kế kiến trúc:<strong> Haeahn architecture (Hàn Quốc) </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Loại hình:<strong> Nhà phố, biệt thự, Shophouse </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Quy mô toàn khu:<strong> 1.000 ha </strong>, bao gồm:
                            - 385 ha diện tích mặt nước
                            - 614 ha diện tích đất
                        </li>
                        <li><span class="ti-check-box"></span>
                            Mật độ xây dựng:<strong> 30% xây dựng, 70% mảng xanh và tiện ích nội khu </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Tiến độ xây dựng:<strong> Đã hoàn thiện nhà mẫu và đang thi công hạ tầng </strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Sở hữu:<strong> Lâu dài đối với người Việt Nam và 50 năm đối với người nước ngoài </strong>
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
<section id="feature" class="feature_area feature_area_check bg-white pt-4 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s"
                 data-wow-offset="0">
                <div class="single_feature h-100 pt-md-0 p-2 d-flex align-items-start flex-column bd-highlight mb-3">
                    <div class="mb-auto p-2 bd-highlight">
                        <h1 class="text-header-com text-bold header-title pt-0 inline-l-0 mb-md-3">
                            LỢI THẾ CẠNH TRANH TỪ SỨC MẠNH KẾT NỐI
                        </h1>
                        <p class="p-justify mb-3">
                            Với sự linh hoạt thông qua việc chia tiến độ thanh toán thành nhiều đợt, CĐT kỳ vọng đảm bảo
                            được sự tiện lợi cho quý khách hàng có nhu cầu sở hữu West Lakes Golf & Villas; có thể được
                            giảm nhẹ về dòng tiền vì tiến độ thanh toán dàn trải theo thời gian.
                        </p>
                        <ul class="m-0 ul-sssss ">
                            <li><span class="ti-check-box"></span>
                                <strong>Aqua City</strong> tọa lạc tại tâm điểm các tuyến giao thông huyết mạch vùng
                                Đông Nam Bộ,dễ dàng kết nối về TP.HCM và các trung tâm kinh tế - du lịch và các tiện ích
                                nổi bật trong khu vực
                            </li>
                            <li><span class="ti-check-box"></span>
                                <strong>5 phút</strong> đến sân golf Long Thành
                            </li>
                            <li><span class="ti-check-box"></span>
                                <strong>7 phút </strong> đến Khu du lịch quốc tế Sơn Tiên, Bệnh viện Đại học Y dược
                                Shing Mark 10 phút đến trung tâm TP. Biên Hòa
                            </li>
                            <li><span class="ti-check-box"></span>
                                <strong>15 phút </strong> đến tuyến Metro số 1 Bến Thành - Suối Tiên
                            </li>
                            <li><span class="ti-check-box"></span>
                                <strong>30 phút </strong> đến Quận 1, TP. HCM theo đường sông
                            </li>
                            <li><span class="ti-check-box"></span>
                                <strong> 40 phút </strong> đến trung tâm thành phố HCM
                            </li>
                        </ul>
                        <h1 class="text-header-com text-bold header-title pt-0 inline-l-0 mb-md-3">
                            KẾT NỐI LIÊN VÙNG THUẬN TIỆN GIAO THƯƠNG
                        </h1>
                        <ul class="m-0">
                            <li><span class="ti-check-box"></span>
                                <strong> DẦU GIÂY - ĐÀ LẠT (Dầu Giây, Đồng Nai - Liên Khương - Đèo Prenn, TP. Đà
                                    Lạt):</strong> 2.8 km, 4 làn xe, vốn đầu tư 65.000 tỷ đồng, khởi công năm 2019
                            </li>
                            <li><span class="ti-check-box"></span>
                                <strong> VÀNH ĐAI 3 - TP. HỒ CHÍ MINH:</strong> 48 km
                            </li>
                            <li><span class="ti-check-box"></span>
                                <strong> CAO TỐC BIÊN HÒA - VŨNG TÀU:</strong> tỉnh Bà Rịa - Vũng Tàu đã đề xuất phương
                                án đầu tư tuyến đường cao tốc Biên Hòa - Vũng Tàu theo hình thức PPP (đối tác công - tư)
                                loại hợp đồng BOT (xây dựng - khai thác - chuyển giao). Dự kiến thời gian thực hiện đến
                                hết năm 2025
                            </li>
                            <li><span class="ti-check-box"></span>
                                <strong> BẾN LỨC - LONG THÀNH:</strong> 58km, đang trong giai đoạn thi công gấp rút, dự
                                kiến sẽ hoàn thành vào cuối năm 2020.
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="feature_img mb-2">
                    <img src="{{ theme_url() }}assets/images/3.png" class="img-fluid lazi" alt=""/>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
        <div class="section-title text-center mt-4 mb-0">
            <div class="home_btn">
                <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                   data-whatever="@mdo" class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                   data-wow-delay=".4s">
                    Bấm vào đây <br>
                    Để nhận tư vấn
                </a>
            </div>
        </div>
    </div><!-- END CONTAINER -->
</section>
<section id="connect_utilities" class="testimonial-area  bg-before pt-4 pb-4"
         style="background-image: url({{ theme_url() }}assets/images/testimonial-bg.png);  background-size:cover; background-position: center center;color: white">
    <div class="container">
        <div class="row">
            <div class="section-title mt-3 mb-3 ">
                <div class="single_feature single_feature_111 pt-md-0  m-0">
                    <h1 class="text-green text-bold header-title pt-0 mt-0 auto-center text-asss">
                        CHUỖI TIỆN ÍCH NỘI KHU
                    </h1>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="feature_img">
                    <img src="{{ theme_url() }}assets/images/tien-ich-icon-1.png" class="img-fluid lazi" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature_img">
                    <img src="{{ theme_url() }}assets/images/tien-ich-icon-2.png" class="img-fluid lazi" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature_img">
                    <img src="{{ theme_url() }}assets/images/tien-ich-icon-3.png" class="img-fluid lazi" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature_img">
                    <img src="{{ theme_url() }}assets/images/tien-ich-icon-4.png" class="img-fluid lazi" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div id="work-slider-5" class="owl-carousel owl-carousel-portfolio-2">
                {% shortcode 'post_type'  with {type: 'post',category:'chuoi-tien-ich',template: 'tien-ich'} %}
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="connect_utilities" class="process-content no-padding white-bg pb-0">
    <div class="container pb-4">
        <div class="row">
            <div class="section-title mt-3 mb-3 ">
                <div class="single_feature single_feature_111 pt-md-0  m-0">
                    <h1 class="text-green text-bold header-title pt-0 mt-0 auto-center text-header-com">
                        TIỆN ÍCH NGOẠI KHU
                    </h1>
                </div>
                <div class="container mb-3">
                    <div class="row p-2 khungtrang">
                        <div class="col-md-4">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-1.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center">Trung tâm thương mại</p>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-2.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center">Phòng GYM hiện đại</p>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-3.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center">Trường mầm non</p>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-4.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center">Sân vườn</p>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-5.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center">Bể bơi ngoài trời</p>
                        </div>
                        <div class="col-md-4" style="margin-bottom: 15px">
                            <img src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu-6.png" class="img-fluid lazi"
                                 alt=""/>
                            <p class="text-center"> Dịch vụ Spa</p>
                        </div>
                    </div>
                    <!--- END ROW -->
                </div>
            </div>
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <div class="container-fluid" style="padding: 0">
        <div class="feature_img mb-0">
            <img src="{{ theme_url() }}assets/images/4.png" style="width: 100%" class="img-fluid lazi" alt="">
        </div>
    </div>
    <!--- END CONTAINER -->
</section>
<section id="product-feature" class="testimonial-area  bg-before pt-0 pb-4"
         style="background-image: url({{ theme_url() }}assets/images/testimonial-bg.png);  background-size:cover; background-position: center center;color: white">
    <div class="container">
        <div class="row">
            <div class="section-title mt-3 mb-3 ">
                <div class="single_feature single_feature_111 pt-md-0  m-0">
                    <h1 class="text-green text-bold header-title pt-0 mt-0 auto-center text-asss">
                        CÁC DÒNG SẢN PHẨM ẤN TƯỢNG
                    </h1>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <div class="row">
            <div class="owl-carousel owl-carousel-portfolio">
                {% shortcode 'post_type'  with {type: 'post',category:'san-pham-an-tuong',template: 'tien-ich'} %}
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="payment" class="process-content section-padding pt-4 pb-5 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pb-3 mb-3 text-header-com ">
                    PHƯƠNG THỨC THANH TOÁN
                </h2>
                <div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Đợt</th>
                            <th scope="col">Thời gian thanh toán</th>
                            <th scope="col">PA1</th>
                            <th scope="col">PA2 (PA nhanh)</th>
                            <th scope="col">PA3 (Vay NH)</th>
                            <th scope="col">PA Vay</th>
                            <th scope="col">Ghi chú</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>12/15/2020</td>
                            <td>15%</td>
                            <td>30%</td>
                            <td>50%</td>
                            <td>10%</td>
                            <td>Ký VBTT</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>1/15/2021</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>40%</td>
                            <td>Ngân hàng giải ngân</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>3/15/2021</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>4%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>6/15/2021</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>4%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>9/15/2021</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>4%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>12/15/2021</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>4%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>3/15/2022</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>4%</td>
                            <td><strong> Dự kiến ký HĐMB </strong></td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>6/15/2022</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>9/15/2022</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>12/15/2022</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>3/15/2023</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>6/15/2023</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">13</th>
                            <td>9/15/2023</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">14</th>
                            <td>12/15/2023</td>
                            <td>35%</td>
                            <td>20%</td>
                            <td></td>
                            <td>25%</td>
                            <td><strong>Dự kiến bàn giao sản phẩm</strong></td>
                        </tr>
                        <tr>
                            <th scope="row">15</th>
                            <td>Bàn giao GCNQSH</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2"><strong>Tổng cộng</strong></th>
                            <td>100%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>100%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2"><strong>Ưu đãi thanh toán nhanh</strong></th>
                            <td></td>
                            <td>5%</td>
                            <td>15%</td>
                            <td>8% <br> (không nhận hỗ trợ lãi xuất)</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--- END COL -->
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="update-process" class="testimonial-area  bg-before pt-0 pb-4"
         style="background-image: url({{ theme_url() }}assets/images/testimonial-bg.png);  background-size:cover; background-position: center center;color: white">
    <div class="container">
        <div class="row">
            <div class="section-title mt-3 mb-3 ">
                <div class="single_feature single_feature_111 pt-md-0  m-0">
                    <h1 class="text-green text-bold header-title pt-0 mt-0 auto-center text-asss">
                        CẬP NHẬT TIẾN ĐỘ PHÂN KHU PHOENIX SOUTH
                    </h1>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <div class="row">
            <div class="owl-carousel owl-carousel-portfolio">
                {% shortcode 'post_type'  with {type: 'post',category:'tien-do-phan-khu-phoenix-south'} %}
            </div>
            <p>
                Dự án Aqua City khởi công xây dựng từ năm 2019, dự kiến bàn giao vào năm 2023, hiện tại dự án Aqua City - Đảo Phượng Hoàng đang triển khai phần hạ tầng.
            </p>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="why" class="feature_area mt-4 mb-3">
    <div class="container-fluid">
        <div class="text-center">
            <div class="section-title text-center mb-1">
                <h1 class=" text-bold header-title pt-0 mt-0 auto-center text-header-com inline-w-80">
                    DREAMHOME - ĐƠN VỊ PHÂN PHỐI DỰ ÁN KHU ĐÔ THỊ SINH THÁI AQUA CITY
                </h1>
                <p class="p-justify mb-md-3">
                    Mang sứ mệnh góp phần thúc đẩy sự phát triển thị trường bất động sản Việt Nam, sau hơn 5 năm phát triển, Dream Home tự hào là sàn giao dịch BĐS uy tín và am hiểu thị trường; luôn đồng hành cùng khách hàng trên hành trình tìm chốn an cư mơ ước, kiến tạo nên cuộc sống thịnh vượng.
                </p>
                <p class="p-justify">
                    Với dự án khu đô thị sinh thái <strong>AQUA CITY</strong>, CĐT C.S.Q cùng sàn giao dịch BĐS Dream Home cam kết sẽ trao gửi sản phẩm bất động sản với chất lượng cao đến quý khách hàng, cung cấp những trải nghiệm dịch vụ bất động sản toàn diện, an toàn và hiệu quả.

                </p>
            </div>
        </div><!-- END ROW -->
        <h1 class=" text-bold header-title pt-0 mt-4 inline-w-80 auto-center text-header-com">
            VÌ SAO BẠN NÊN CHỌN MUA DỰ ÁN KHU ĐÔ THỊ SINH THÁI AQUA CITY
        </h1>
        <div class="row text-center tientich mt-5">
            <div class="col-md-3 col-sm-12 col-xs-12 wow fadeIn" style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" title="Đơn vị từng đồng hành cùng các CĐT uy tín như: Đất Xanh, Khang Điền, Phát Đạt,... phân phối các sản phẩm Bất động sản uy tín và chất lượng cao hơn 5 năm liền.">
                <img src="{{theme_url()}}assets/images/reason_4.png" class="img-fluid lazi" alt="" />
                <p class="p-justify ">
                    Đơn vị từng đồng hành cùng các CĐT uy tín như: Keppel Land, Đất Xanh, Khang Điền, Phát Đạt,... phân phối các sản phẩm Bất động sản uy tín và chất lượng cao hơn 5 năm liền.
                </p>
            </div><!-- END COL -->
            <div class="col-md-3 col-sm-12 col-xs-12 wow fadeIn" style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" title=" Hiện tại, Dream Home tiếp tục đồng hành cùng Keppel Land - một trong những tập đoàn đa quốc gia lớn nhất Singapore, với các ngành kinh doanh chính: dầu khí và hàng hải, cơ sở hạ tầng và bất động sản.">
                <img src="{{theme_url()}}assets/images/reason_3.png" class="img-fluid lazi" alt="" />
                <p class="p-justify ">
                    Hiện tại, Dream Home tiếp tục đồng hành cùng C.S.Q - một trong những tập đoàn đa quốc gia lớn nhất Singapore, với các ngành kinh doanh chính: dầu khí và hàng hải, cơ sở hạ tầng và bất động sản.
                </p>
            </div><!-- END COL -->
            <div class="col-md-3 col-sm-12 col-xs-12 wow fadeIn" style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" title="Đơn vị đã phân phối thành công hàng loạt các dự án BĐS lớn: Dự án Precia, Dự án Opal Skyline, Dự án Lovera (1,2,3, Vista, Premier), Dự án Astral City (đang phân phối), Dự án Verosa Park (đang phân phối),...">
                <img src="{{theme_url()}}assets/images/reason_2.png" class="img-fluid lazi" alt="" />
                <p class="p-justify ">
                    Đơn vị đã phân phối thành công hàng loạt các dự án BĐS lớn: Dự án Precia, Dự án Opal Skyline, Dự án Lovera (1,2,3, Vista, Premier), Dự án Astral City (đang phân phối), Dự án Verosa Park (đang phân phối), Dự án Celesta Rise...
                </p>
            </div><!-- END COL -->
            <div class="col-md-3 col-sm-12 col-xs-12 wow fadeIn" style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" title=" Đơn vị hỗ trợ tư vấn, phân phối sản phẩm Bất động sản uy tín với chính sách thanh toán được nhận từ chính các CĐT, pháp lý rõ ràng minh bạch.">
                <img src="{{theme_url()}}assets/images/reason_1.png" class="img-fluid lazi" alt="" />
                <p class="p-justify ">
                    Đơn vị hỗ trợ tư vấn, phân phối sản phẩm Bất động sản uy tín với chính sách thanh toán được nhận từ chính các CĐT, pháp lý rõ ràng minh bạch.
                </p>
            </div><!-- END COL -->
            <!-- END COL -->
        </div>
        <div class="section-title text-center mt-4 mb-0">
            <div class="home_btn">
                <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                   data-whatever="@mdo" class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                   data-wow-delay=".4s">
                    Bấm vào đây <br>
                    Để nhận tư vấn
                </a>
            </div>
        </div>
    </div><!-- END CONTAINER -->
</section>
{% section 'footer' %}