{% section 'header' %}
<section id="question" class="works_area section-padding pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="section-title text-center mb-2 feature_area_check">
                <h1 class="text-bold header-title auto-center text-header-com pt-0">
                    Những câu hỏi thường gặp của khách hàng
                    <p style="width: auto;">trước khi quyết định đầu tư vào dự án khu đô thị sinh thái AQUA CITY</p>
                </h1>
            </div>
            <div class="accordion row" id="accordionExample">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" id="heading1">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>1</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link align-middle">
                                        Quy mô dự án?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>- Tổng diện tích dự án: <strong> 1.000 ha</strong></p>
                                <p>+ Diện tích mặt nước: <strong>385 ha</strong></p>
                                <p>+ Diện tích đất: <strong>614 ha</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo" id="heading2">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>2</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Giá bán dự kiến từ CĐT?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>- Nhà phố: <strong>8.5 tỷ - 12 tỷ</strong></p>
                                <p>- Biệt thự đơn lập: <strong>33 tỷ</strong></p>
                                <p>- Biệt thự song lập: <strong>11 tỷ - 14 tỷ</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3" id="heading3">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>3</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Hình thức sở hữu?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                            <div class="card-body">
                                 <p>- Người Việt Nam: <strong>lâu dài</strong></p>
                                 <p>- Người Nước Ngoài: <strong>50 năm theo luật pháp hiện hành</strong></p>
                                 <p>- Sổ hồng riêng</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4" id="heading4">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>4</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link">
                                        Mật độ xây dựng?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                            <div class="card-body">
                                 <p>- Mật độ xây dựng: <strong>30%</strong></p>
                                 <p>- Mảng xanh và tiện ích nội khu: <strong>70%</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5" id="heading5">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>5</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Thời gian khởi công xây dựng và dự kiến bàn giao nhà?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>- Khởi công xây dựng: <strong>quý III/2019</strong> </p>
                                <p>- Dự kiến bàn giao: <strong>quý II/2023</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6" id="heading6">
                            <h2 class="mb-0">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="number_icon">
                                        <span>6</span>
                                        <img src="{{theme_url()}}assets/images/bullet-number.png">
                                    </div>
                                    <a class="btn btn-link collapsed">
                                        Tiện ích gồm có những gì?
                                    </a>
                                </div>
                            </h2>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Clubhouse, hệ thống công viên chủ đề, trung tâm thương mại, bến du thuyền 5 sao, hệ thống trường học, hệ thống chăm sóc sức khỏe hiện đại, trung tâm thể thao đa năng,...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo" class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
{% section 'footer' %}