{% section 'header' %}
<section id="about" class="process-content section-padding pt-4 pb-4 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pt-0 pb-3 mb-3 text-header-com ">
                    D - AQUA BẾN BÌNH ĐÔNG QUẬN 8 <br>
                    KIẾN TẠO CUỘC SỐNG AN YÊN - TÔ ĐIỂM LỐI SỐNG HOÀN MỸ
                </h2>
                <p class="p-justify" style="width: 100%">
                    <strong>D-Aqua</strong> - Dự án căn hộ cao cấp bậc nhất sở hữu view sông hiếm hoi nằm ngay tại Trung
                    tâm quận 8. Tọa lạc trên khu đất 8.025m2 với 2 tháp căn hộ cao 25 tầng nổi & 2 tầng hầm. Dự án cung
                    ứng ra thị trường căn hộ quận 8 khoảng 652 căn hộ chung cư & 35 căn shophouse.
                </p>
                <br>
                <p class="p-justify" style="width: 100%">
                    Dự án “tích tụ” thiên hoà địa lợi dựa vào địa thế ven sông, ôm trọn dòng suối mượt mà chảy giữa
                    tuyến phố thương mại và đi bộ, mang “vượng thuỷ” về bồi đắp sự đủ đầy và “màu mỡ” cho cuộc sống của
                    cư dân tại dự án và tạo nên một khung cảnh thiên nhiên xanh mát, tuyệt vời.
                </p>
                <br>

                <p class="p-justify" style="width: 100%">
                    Trong bối cảnh quỹ đất thành phố ngày càng hạn hẹp, <strong>D-Aqua</strong> nghiễm nhiên trở thành
                    "miếng bánh ngon" đón nhận được nhiều sự quan tâm nhất hiện nay.
                </p>
            </div>
            <!--- END COL -->
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="overview" class="feature_area feature_area_check bg-linear-gradient pt-5 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s" data-wow-delay="0.3s"
                 data-wow-offset="0">
                <div class="feature_img">
                    <img src="{{ theme_url() }}assets/images/overview.jpg" class="img-fluid lazi" alt=""/>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft no-padding" data-wow-duration="1s"
                 data-wow-delay="0.1s" data-wow-offset="0" style="color: #606060">
                <div class="single_feature pl-md-4 pt-md-0 pt-xl-2  m-0">
                    <h2 style="margin-top: -30px"
                        class=" text-header-com inline-l-0 text-bold header-title pt-md-0 md-auto-center mb-2 inline-l-0">
                        TỔNG QUAN VỀ DỰ ÁN
                    </h2>
                    <ul class="m-0 ul-sssss text-white ul-green">
                        <li><span class="ti-check-box"></span>
                            Chủ đầu tư: <strong> Công ty DHA Corporation</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Nhà thầu xây dựng:<strong> Hòa Bình / Coteccon / Unicon</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Vị trí dự án: <strong>301 Bến Bình Đông, phường 14, Quận 8, Tp. Hồ Chí Minh</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Quy mô dự án: <strong>8.025m2 </strong>(2 Block cao 25 tầng bao gồm 2 Block A và B)
                        </li>
                        <li><span class="ti-check-box"></span>
                            Số căn: <strong>652 căn hộ chung cư & 35 căn shophouse</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            <strong>Chi tiết sản phẩm: </strong><br>
                            - Căn Studio: <strong>31m2</strong> (53 căn) <br>
                            - Căn 1 phòng ngủ: <strong>48m2 </strong>(39 căn) - Căn 1 phòng ngủ + 1:
                            <strong>54m2 </strong>(123 căn) <br>
                            - Căn 2 phòng ngủ: <strong>65m2 </strong>(334 căn) - Căn 2 phòng ngủ + 1:
                            <strong>74m2</strong> (68 căn)<br>
                            - Căn 3 phòng ngủ: <strong>81m2 </strong>(15 căn)<br>
                            - Căn Sky Villas: <strong>95m2 </strong>(10 căn)<br>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Pháp lý dự án:<strong> Sổ hồng, sở hữu lâu dài đối với người Việt Nam</strong>
                        </li>
                        <li><span class="ti-check-box"></span>
                            Dự kiến bàn giao: <strong>Quý II/ 2024</strong> (hoàn thiện cơ bản)
                        </li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
<section id="video" class="process-content no-padding white-bg pt-5 pb-4">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mt-0 mb-0">
                <div class="video-wrapper mt-2 mb-4">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wcSV42-YC38" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="preview" class="process-content no-padding white-bg">
    <div class="container-fluid">
        <div class="row text-center no-padding">
            <div class="shadow_img">
                <img style="box-shadow: none;" src="{{ theme_url() }}assets/images/preview-map.jpg"
                     class="img-fluid lazi" alt=""/>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="location-center" class="process-content section-padding pt-0 pb-5 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pb-3 mb-3 text-header-com-1 ">
                    VỊ TRÍ “VƯỢNG THUỶ” TRUNG TÂM QUẬN 8
                </h2>
                <p class="p-justify" style="width: 100%">
                    Theo quan niệm của người Á Đông, việc sở hữu nhà “cận thuỷ” giúp mang lại sự thịnh vượng, tài lộc
                    cho gia chủ.
                    Dự án <strong>D-Aqua</strong> tọa lạc ngay trên trục đường Bến Bình Đông nhìn về tam giang: sông Sài
                    Gòn - kênh Đôi -
                    kênh Tàu Hủ, “hô biến” dự án trở thành một không gian có sinh thái hài hòa với thiên nhiên.
                </p>
                <br>
                <p class="p-justify" style="width: 100%">
                    Không chỉ vậy, dự án còn là nơi giao thoa kiến trúc đô thị xưa và nay, gói trọn trong khu vực sầm
                    uất của trung tâm quận 8 với cơ sở hạ tầng khang trang, thương mại dịch vụ phát triển mạnh mẽ. Với
                    những yếu tố này, <strong>D-Aqua</strong> nắm trong tay lợi thế tiếp cận các tuyến đường giao thông.
                </p>
                <br>

                <p class="p-justify" style="width: 100%">
                    Từ dự án <strong>D-Aqua</strong>, cư dân tương lai có thể dễ dàng di chuyển theo đường Võ Văn Kiệt
                    để đến trung tâm
                    quận 1, quận 6 chỉ trong vòng 10 phút, hoặc di chuyển nhanh chóng và tiện lợi về khu vực trung tâm
                    thành phố.
                </p>
                <br>
                <p class="p-justify" style="width: 100%">
                    <img src="{{ theme_url() }}assets/images/bullet-oto.png" alt=""> Bán kính <strong>1km</strong>:
                    Trường Tiểu Học Hồng
                    Đức, Chợ Bình Đông, UBND phường 14, Trường tiểu học Kim Đồng.
                </p>
                <p class="p-justify" style="width: 100%">
                    <img src="{{ theme_url() }}assets/images/bullet-oto.png" alt=""> Bán kính <strong>3km</strong>: Trạm
                    Y Tế Phường 13,
                    Chợ Hoa Tết, Bến Bình Đông, Chợ Kim Biên, Trường ĐH Greenwich Việt Nam
                </p>
                <p class="p-justify" style="width: 100%">
                    <img src="{{ theme_url() }}assets/images/bullet-oto.png" alt=""> Bán kính <strong>5km</strong>: BV
                    Đại học Y dược,
                    Bến xe Chợ Lớn, BV Chấn Thương Chỉnh Hình<br>
                </p>
                <br>
                <p class="p-justify" style="width: 100%">
                    Các hướng giao thông chủ chốt: đến Quận 5 thông qua cầu Chà Và, đến Quận 6 thông qua đường Hồng
                    Bàng, đến trung tâm Quận 1 thông qua trục đường Võ Văn Kiệt, và đến Phú Mỹ Hưng thông qua đường
                    Nguyễn Văn Linh.
                </p>
                <br>
                <p class="p-justify" style="width: 100%">
                    Ngày nay, khi cuộc sống trở nên gò bó và không khí ngày càng ô nhiễm, quý khách hàng vẫn luôn ưa
                    chuộng sống tại những khu vực có không khí trong lành, liền kề quận 1. Điều này khẳng định, những dự
                    án vừa có lợi thế ven sông, vừa di chuyển thuận tiện đến khu vực trung tâm như D – Aqua sẽ trở thành
                    hàng “tâm điểm vàng” với cả người mua thực lẫn giới đầu tư.
                </p>
            </div>
            <!--- END COL -->
            <div class="section-title text-center mt-4 mb-0">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="connect_utilities" class="testimonial-area  bg-before pt-4 pb-4"
         style="background-image: url({{ theme_url() }}assets/images/testimonial-bg.png);  background-size:cover; background-position: center center;color: white">
    <div class="container">
        <div class="row">
            <div class="section-title mt-3 mb-3 ">
                <div class="single_feature single_feature_111 pt-md-0  m-0">
                    <h1 class="text-green text-bold header-title pt-0 mt-0 auto-center text-asss">
                        CHUỖI TIỆN ÍCH NỘI KHU ĐẲNG CẤP
                    </h1>
                    <p class="p-justify" style="width: 100%">
                        Với mục tiêu đảm bảo chất lượng cuộc sống luôn được thăng hạng, kiến tạo dựa trên sự mới mẻ, trẻ
                        trung, hiện đại, nhấn mạnh giá trị sống trải nghiệm, khám phá và khơi dậy sự sáng tạo nhưng
                        không kém phần tiện nghi, đẳng cấp và an ninh tuyệt đối, dự án D-Aqua được chú trọng đầu tư hệ
                        thống tiện ích nổi bật.
                    </p>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <div class="row">
            <div id="work-slider-5" class="owl-carousel owl-carousel-portfolio-2">
                {% for i in 1..14 %}
                    {% set image = [theme_url(), 'assets/images/tien-ich-noi-khu-', i, '.png' ]|join %}
                    {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="section-title mt-3 mb-3 ">
                <div class="single_feature single_feature_111 pt-md-0  m-0 text-center">
                    <!--<h6 class="text-green text-bold text-center pt-0 mt-0 auto-center">
                        NGOÀI RA, DỰ ÁN CÒN SỞ HỮU THÊM:
                    </h6>-->
                    <img style="height: 3.5rem;" src="{{ theme_url() }}/assets/images/text-du-an.png" class="pt-0 mt-0 auto-center" alt="">
                    <h6 class="text-green text-bold text-center pt-0 mt-0 auto-center">
                        SKY BAR, SẢNH ĐÓN ĐẲNG CẤP, PHÒNG GYM HIỆN ĐẠI, KHU MUA SẮM THƯƠNG MẠI, SIÊU THỊ MINI, 3 TẦNG ĐỂ
                        XE, KHU VUI CHƠI TRẺ EM TRONG NHÀ, KHU VỰC CAFE,...
                    </h6>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="tien-ich-ngoai-khu" class="process-content section-padding pt-0 pb-2 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pb-3 mb-3 text-header-com ">
                    MỘT BƯỚC KẾT NỐI TIỆN ÍCH NGOẠI KHU HOÀN HẢO
                </h2>
                <p class="p-justify" style="width: 100%">
                    Dựa vào ưu thế tọa lạc tại vị trí “vượng thuỷ”, D-Aqua thừa hưởng các tiện ích ngoại khu đa dạng và
                    bền vững, mang đến cho dân cư chất lượng cuộc sống hoàn hảo nhất. Đặc biệt nhất, mỗi độ xuân về, cư
                    dân nơi đây sẽ hưởng trọn không khí Tết bởi Bến hoa Xuân Bình Đông bên dòng kênh trước mặt. Hai bên
                    dòng suối sẽ làm con đường hoa cận kề dự án D-Aqua trở nên rực rỡ sắc màu lung linh trong nắng, nhộn
                    nhịp hơn bao giờ hết. Được biết, đây được kỳ vọng sẽ là đường hoa đầu tiên tại Quận 8, điểm check-in
                    mới lạ, tuyệt vời thu hút dân cư trong khu vực và các quận lân cận.
                </p>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
    <div class="container-fluid">
        <div class="row text-center no-padding">
            <div class="shadow_img">
                <img style="box-shadow: none;" src="{{ theme_url() }}assets/images/tien-ich-ngoai-khu.png"
                     class="img-fluid lazi" alt=""/>
            </div>
        </div>
        <!--- END ROW -->
    </div>
</section>
<section id="design" class="process-content section-padding pt-2 pb-2 white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="section-title text-center mb-0">
                <h2 class="text-bold header-title auto-center pb-3 mb-3 text-header-com ">
                    THIẾT KẾ “VƯỢNG KHÍ” KIẾN TẠO LỐI SỐNG XANH & PHÓNG KHOÁNG
                </h2>
                <p class="p-justify" style="width: 100%">
                    Thoả theo tiêu chuẩn xanh của Mỹ, căn hộ <strong>D-Aqua</strong> luôn được CĐT hướng tới việc xây
                    dựng một hệ sinh thái xanh hoàn hảo: xanh từ khâu thiết kế cho tới vật liệu xây dựng thân thiện với
                    thiên nhiên, xanh trong quá trình thi công và xanh trong cách vận hành; Nhằm hướng tới các mục tiêu:
                    tiết kiệm năng lượng, sử dụng nước hiệu quả, giảm lượng khí thải CO2, cải thiện chất lượng môi
                    trường bên trong và ngoài căn hộ.
                </p>
                <p class="p-justify" style="width: 100%">
                    Dựa vào thiết kế “vượng khí” của các block, tất cả các căn hộ đều có view nhìn rộng rãi, 100% căn hộ
                    không bị khuất tầm nhìn và hướng sông mát mẻ. Ngoài ra, căn hộ nơi đây còn gây ấn tượng mạnh mẽ với
                    lối thiết kế thân thiện, bình dị, gần gũi, phóng khoáng, mạnh mẽ, hào sảng, đôn hậu - phong cách rất
                    Việt Nam với những đặc trưng đậm chất Sài Gòn.
                </p>
                <p class="p-justify" style="width: 100%">
                    Chủ nhân căn hộ sẽ luôn được đón hướng gió trong lành, những lúc căng thẳng ngắm view sông cũng cảm
                    thấy thư giãn và yêu đời.
                </p>

            </div>
            <!--- END COL -->
        </div>
        <div class="row text-center no-padding">
            <div id="work-slider-6" class="owl-carousel owl-carousel-portfolio-1">
                {% for i in 1..14 %}
                    {% set image = [theme_url(), 'assets/images/mat-bang-can-ho-', i, '.png' ]|join %}
                    {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                {% endfor %}
            </div>
            <div class="section-title text-center mt-4 mb-4">
                <div class="home_btn">
                    <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@mdo"
                       class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                       data-wow-delay=".4s">
                        Bấm vào đây <br>
                        Để nhận tư vấn
                    </a>
                </div>
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="room-feature" class="testimonial-area  bg-before pt-0 pb-4"
         style="background-image: url({{ theme_url() }}assets/images/testimonial-bg.png);  background-size:cover; background-position: center center;color: white">
    <div class="container">
        <div class="row">
            <div class="section-title mt-3 mb-3 ">
                <div class="single_feature single_feature_111 pt-md-0  m-0">
                    <h1 class="text-green text-bold header-title pt-0 mt-0 auto-center text-asss">
                        THIẾT KẾ BẾP VÀ CÁC PHÒNG CHỨC NĂNG KHÁC
                    </h1>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <div class="row">
            <div class="owl-carousel owl-carousel-portfolio">
                {% for i in 1..12 %}
                    {% set image = [theme_url(), 'assets/images/nha-mau-', i, '.png' ]|join %}
                    {% include 'item/tien-ich-noi-khu.twig' with {image:image} %}
                {% endfor %}
                {# {% shortcode 'post_type'  with {type: 'post',category:'san-pham-an-tuong',template: 'tien-ich'} %} #}
            </div>
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<section id="payment" class="testimonial-area  bg-before pt-0 pb-4"
         style="background-color: #07414C;color: white">
    <div class="container-fluid">
        <div class="row">
            <div class="section-title mt-3 mb-3 ">
                <div class="single_feature single_feature_111 pt-md-0  m-0">
                    <h1 class="text-green text-bold header-title pt-0 mt-0 auto-center text-asss">
                        PHƯƠNG THỨC THANH TOÁN VÀ CHÍNH SÁCH BÁN HÀNG DỰ KIẾN
                    </h1>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-12 col-xs-12 wow fadeInLeft pl-0 pr-0" data-wow-duration="1s" data-wow-delay="0.1s"
                 data-wow-offset="0">
                <div class="single_feature h-100 pt-md-0 p-2 d-flex align-items-start flex-column bd-highlight mb-3">
                    <div class="mb-auto p-2 bd-highlight">
                        <p class="p-justify mb-3">
                            Chú trọng đến những mối lo của quý khách hàng trong việc quyết định trao gửi niềm tin vào dự
                            án, vì vậy CĐT đã tối ưu Phương thức thanh toán, hỗ trợ khách hàng mua căn hộ được đóng theo
                            tiến độ:
                        </p>
                        <img style="height: 80px;" src="{{ theme_url() }}/assets/images/40tr.png" alt="">
                        <p>Với khách không vay ngân hàng sẽ có thêm các chính sách ưu đãi đặc biệt.
                        </p>
                        <ul class="m-0 ul-sssss ul-green">
                            <li><span class="ti-check-box"></span>
                                <strong>Thanh toán 32% sở hữu nhà, trong đó:</strong> <br>
                                <ul class="custom-bullet">
                                    <li> Đợt 1 thanh toán 15%</li>
                                    <li> Đợt 2 - 16 (trong vòng 15 tháng): thanh toán 1%/ tháng</li>
                                    <li> Đợt 18 thanh toán 2% ký HĐMB</li>
                                </ul>
                            </li>
                            <li><span class="ti-check-box"></span> <strong>
                                    19 tháng tiếp theo thanh toán 2%/tháng (đợt 19 - 37)
                                </strong>
                            </li>
                            <li><span class="ti-check-box"></span> <strong>
                                    2 đợt cuối cùng thanh toán 30% còn lại (dự kiến Quý II/ 2020)
                                </strong>
                            </li>
                            <p>
                                Với khách hàng mua có nhu cầu vay để mua căn hộ D-Aqua sẽ được ân hạn lãi suất và nợ
                                gốc.
                            </p>
                            <li><span class="ti-check-box"></span>
                                <strong> Thanh toán 30% ký HĐMB, trong đó:</strong>
                                <ul class="custom-bullet">
                                    <li>Đợt 1 thanh toán 15%</li>
                                    <li>Đợt 2 - 16 (trong vòng 15 tháng): thanh toán 1%/ tháng</li>
                                </ul>
                            </li>
                            <li><span class="ti-check-box"></span>
                                Ngân hàng hỗ trợ vay 65%, hỗ trợ lãi suất 16 tháng và chiết khấu lên tới 21%
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-7 col-sm-12 col-xs-12 wow fadeIn no-padding" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0">
                <div class="feature_img mb-2">
                    <img src="{{ theme_url() }}assets/images/payment.png" class="img-fluid lazi" alt=""/>
                </div>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
<section id="why" class="feature_area mt-4 mb-3">
    <div class="container">
        <div class="text-center">
            <div class="section-title text-center mb-1">
                <h1 class=" text-bold header-title pt-0 mt-0 auto-center text-green inline-w-80">
                    DREAMHOME - ĐƠN VỊ PHÂN PHỐI DỰ ÁN D-AQUA QUẬN 8
                </h1>
                <p class="p-justify mb-3 p-0 w-100">
                    Mang sứ mệnh góp phần thúc đẩy sự phát triển thị trường bất động sản Việt Nam, sau hơn 5 năm phát
                    triển, Dream Home tự hào là sàn giao dịch BĐS uy tín và am hiểu thị trường; luôn đồng hành cùng
                    khách hàng trên hành trình tìm chốn an cư mơ ước, kiến tạo nên cuộc sống thịnh vượng.
                </p>
                <p class="p-justify mb-3 p-0 w-100">
                    Với dự án <strong> D-Aqua</strong>, CĐT cùng sàn giao dịch BĐS Dream Home cam kết sẽ trao gửi sản
                    phẩm bất động sản với chất lượng cao đến quý khách hàng, cung cấp những trải nghiệm dịch vụ bất động
                    sản toàn diện, an toàn và hiệu quả.
                </p>
            </div>
        </div><!-- END ROW -->
        <h1 class=" text-bold header-title pt-0 mt-4 inline-w-80 auto-center text-green">
            VÌ SAO BẠN NÊN CHỌN MUA DỰ ÁN D-AQUA QUẬN 8 VỚI DREAMHOME
        </h1>
        <div class="row text-center tientich mt-5">
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title=" Hiện tại, Dream Home tiếp tục đồng hành cùng Keppel Land - một trong những tập đoàn đa quốc gia lớn nhất Singapore, với các ngành kinh doanh chính: dầu khí và hàng hải, cơ sở hạ tầng và bất động sản.">
                <img src="{{ theme_url() }}assets/images/reason_3.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Hiện tại, Dream Home tiếp tục đồng hành cùng C.S.Q - một trong những tập đoàn đa quốc gia lớn nhất
                    Singapore, với các ngành kinh doanh chính: dầu khí và hàng hải, cơ sở hạ tầng và bất động sản.
                </p>
            </div><!-- END COL -->
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title="Đơn vị đã phân phối thành công hàng loạt các dự án BĐS lớn: Dự án Precia, Dự án Opal Skyline, Dự án Lovera (1,2,3, Vista, Premier), Dự án Astral City (đang phân phối), Dự án Verosa Park (đang phân phối),...">
                <img src="{{ theme_url() }}assets/images/reason_2.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Đơn vị đã phân phối thành công hàng loạt các dự án BĐS lớn: Dự án Precia, Dự án Opal Skyline, Dự án
                    Lovera (1,2,3, Vista, Premier), Dự án Astral City (đang phân phối), Dự án Verosa Park (đang phân
                    phối), Dự án Celesta Rise...
                </p>
            </div><!-- END COL -->
            <div class="col-md-4 col-sm-12 col-xs-12 wow fadeIn"
                 style=";;background-size: cover;background-repeat: no-repeat;" data-wow-duration="1s"
                 data-wow-delay="0.3s" data-wow-offset="0"
                 title=" Đơn vị hỗ trợ tư vấn, phân phối sản phẩm Bất động sản uy tín với chính sách thanh toán được nhận từ chính các CĐT, pháp lý rõ ràng minh bạch.">
                <img src="{{ theme_url() }}assets/images/reason_1.png" class="img-fluid lazi" alt=""/>
                <p class="p-justify ">
                    Đơn vị hỗ trợ tư vấn, phân phối sản phẩm Bất động sản uy tín với chính sách thanh toán được nhận từ
                    chính các CĐT, pháp lý rõ ràng minh bạch.
                </p>
            </div><!-- END COL -->
            <!-- END COL -->
        </div>
        <h5 class=" text-bold pt-0 mt-4 text-center inline-w-80 auto-center text-green" style="line-height: 2rem">
            VỚI CÁC YẾU TỐ: MỨC GIÁ BÁN “CHIỀU LÒNG” KHÁCH HÀNG, TIỆN ÍCH NỘI VÀ NGOẠI KHU ĐA DẠNG HIỆN ĐẠI, LIÊN KẾT
            VÙNG THUẬN LỢI TRONG VIỆC KẾT NỐI CÁC QUẬN TRUNG TÂM THÀNH PHỐ. D-AQUA HỨA HẸN TRAO GỬI ĐẾN NHỮNG CHỦ SỞ HỮU
            TƯƠNG LAI CUỘC SỐNG THỜI THƯỢNG VÀ ĐẲNG CẤP
        </h5>
        <div class="section-title text-center mt-4 mb-0">
            <div class="home_btn">
                <a href="#" style="font-size: 1.2em;" data-toggle="modal" data-target="#exampleModal"
                   data-whatever="@mdo" class="btn-border get_btn wow bounceIn page-scroll red-bg no-border text-bold"
                   data-wow-delay=".4s">
                    Bấm vào đây <br>
                    Để nhận tư vấn
                </a>
            </div>
        </div>
    </div><!-- END CONTAINER -->
</section>
{% section 'footer' %}
